/**     FILE DIRECTORY     

1. GLOBAL STYLES
    1.1 MARGIN STYLES
    1.2 TEXT STYLES
2.
3. ARROWS
4. NAV
5. HEADER
6. MAIN
    6.1 PORTFOLIO
    6.2 ABOUT ME
    6.3 EDUCATION
    6.4 CONTACT
    6.5 BACK TO TOP
7. FOOTER

**/



/* 1.   GLOBAL STYLES   */
a {
    text-decoration: none;
    color: inherit;
}

/* 1.1.   MARGIN STYLES   */
.ma-au {
    margin: auto;
}

.ma-0 {
    margin: 0;
}

.ma-au-0 {
    margin: auto 0;
}

/* 1.2.   TEXT STYLES     */

.txt-center {
    text-align: center;
}

/* 3.   ARROWS      */

/* https://www.geeksforgeeks.org/how-to-create-triangle-in-css/*/
.down-arrow {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

    border-top: 30px solid var(--dark-green);

    margin: 20px 0;
    opacity: 50%;
}

.down-arrow-dark {
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;

    border-top: 50px solid var(--nav-footer-bg);

    margin: auto;

}

.up-arrow {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;

    border-bottom: 50px solid var(--nav-footer-bg);

    margin: auto;

    margin-top: 50px;
}

/* 4.   NAV     */

.nav-content {
    max-width: 1300px;
    height: 50px;
}

.logo {
    font-size: 1.1rem;
    color: var(--light-txt);
    padding-left: 20px;
}

.menu-icon {
    height: 40px;
    width: auto;
}

.close-menu-icon {
    display: none;
}

nav ul {
    width: 400px;
    color: var(--light-txt);
    align-items: center;
    padding-right: 5%;
    list-style: none;
}

nav ul li:hover {
    scale: 1.1;
}

.hamburger-menu {
    display: flex;
    height: inherit;
    border: none;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    display: none;
    background-color: inherit;
    cursor: pointer;
}

/* 5.   HEADER      */
.mobile-profile-img-container {
    width: 100%;
    display: none;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--nav-footer-bg);
    background-color: #0d0b288a;
    background-image: url(/img/Skjermbilde-html.png);
    border-radius: 6px;
}

/* .round-profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 0 20px 0;
    border: 1px solid var(--light-green);
    box-shadow: 0px 12px 10px -6px var(--black);
} */

.mobile-profile-img {
    width: 60%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.name-container {
    padding: 0 10px;
}

.fed {
    letter-spacing: .57rem;
    opacity: 30%;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 1.2vw, 1.1rem);
    /* font-size: 1.1rem; */
}

.first-name,
.last-name {
    /* font-size: 6rem; */
    font-size: clamp(1.9rem, 8vw, 6rem);
    max-width: 661px;
    font-weight: 500;
}

.intro-text {
    font-size: 1.3rem;
    text-align: end;
    max-width: 661px;
    padding-left: 220px;
    padding-right: 5px;
}

.intro-text p {
    margin-top: 0;
    max-width: 600px;
}

/* 6.   MAIN    */

.heading-main {
    font-weight: 200;
    margin: 20px;
}

.sub-heading-main {
    font-weight: 200;
}


/*  6.1 PORTFOLIO   */
.card-txt-container {
    max-width: 650px;
    background-color: var(--portfolio_card-bg);
    border-radius: 10px 0 0px 10px;
    color: var(--light-txt);
    padding: 20px;
    position: relative;
}

.card-txt-container h2 {
    margin: 0;
    font-size: 1.7rem;
}

.project-skills {
    gap: 10px;
    font-size: 0.8rem;
    height: fit-content;
    margin-top: 5px;
}

.skill {
    background-color: var(--dark-green);
    padding: 3px 5px;
    border-radius: 6px;
    margin: 0;
}

.course-mobile {
    display: none;
}

.card-buttons {
    gap: 10px
}

.card-button {
    padding: 10px;
    border-radius: 6px;
    background-color: var(--portfolio_card-bg);
    background-color: var(--nav-footer-bg);
    color: var(--light-txt);
    cursor: pointer;
    border: 1px solid var(--dark-green);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    box-shadow: 0 2px var(--nav-footer-bg);

}

.card-button:hover {
    background-color: var(--light-green);
    color: var(--light-txt);
}

.course {
    width: 60px;
    height: inherit;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.course h3 {
    opacity: 50%;
    font-weight: 300;
}

.website-screnshot img {
    width: 270px;
    object-fit: contain;
}

.game-hub {
    /* background-image: url(/img/screenshot-gamehub-marte-v3.jpg); */
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(/img/screenshot-gamehub-marte-v3.jpg);
    /* object-fit: fill; */
    background-position: top;
}

.c-s-m {
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(/img/screenshot-sp1-noroff-csm-440kb.jpg);
    /* object-fit: cover;*/
    background-position: start;
}

.f-b {
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(/img/screenshot-fenty.jpg);
    /* object-fit: cover;*/
    background-position: top;
}

/* 6.2  ABOUT ME    */
.about-container p {
    font-size: 1.2rem;
}

/* 6.3 EDUCATION    */
.treehouse-profile-link {
    font-style: italic;
}

/* 6.4  CONTACT */
.social-media-container {
    gap: 20px;
}

.social-media-container svg {
    height: 50px;
    width: 50px;
}

.social-media-container svg:hover {
    transform: scale(1.2);

}

/* 6.5  BACK TO TOP */

.back-to-top {
    margin-top: 50px;
}

.back-to-top-link {
    width: fit-content;
}

.back-to-top-link:hover {
    transform: scale(1.1);
}

/*  FOOTER  */

.copyright {
    color: var(--light-txt);
    text-align: center;
}